%p
  =buying @item

%p Acordate que todos los libros y DVDs valen <strong>$25.000</strong>.

%p Para terminar, dame tus datos:

%form{:method => "post", :action => "/buy"}
  %input{:type => "hidden", :name => "id", :value => @item.id}

  #warning
    %p Llena los dos campos por favor.

  %div
    %label Nombre:
    %input{:type => "text", :name => "name"}

  %div
    %label Email:
    %input{:type => "text", :name => "email"}

  %input{:type => "button", :value => "Comprar", :id => "buy"}

  %p
    =link_to "Atrás", "/"

