%link{:type => "text/css", :href => "screen.css", :rel => "stylesheet" }

%h1 Garaje de Heroína

%p
  El lanzamiento de
  =link_to("mheroin.com", "http://mheroin.com")
  necesita plata para contratar un diseñador, mandar a hacer stickers y otras guevonadas. Estoy vendiendo algunos libros y DVDs para ayudarme a cubrir costos así que se le agradece cualquier ayudita mono.

%p Todo está a <strong>$25.000</strong>, pagables en sweet, sweet cash, consignación o en especie (solo mujeres y manes muy lindos).


%table
  %tr
    %th Nombre
    %th Autor(es)
    %th Vendido?
    %th Categoría
    %td
  - @items.each do |item|
    %tr
      %td=item.title
      %td=item.authors
      %td{:class => "centered"}= item.sold?
      %td=item.category
      %td=buy_item(item)

%p
  Pregunte por lo que no vea. Si tengo algo que querés (incluye mi cuerpo, mascotas, personajes en WoW, etc.) y no está aquí, podés escribirme a
  =link_to("federico.builes@gmail.com.", "mailto:federico.builes@gmail.com")
