%html
  %head
    %link{:type => "text/css", :href => "/screen.css", :rel => "stylesheet" }
    %script{:type => "text/javascript", :src => "/jquery.js" }
    %script{:type => "text/javascript", :src => "/application.js" }
    %title Garaje de Heroína
  %body
    %h1 Garaje de Heroína

    = yield

    %script{:type => "text/javascript", :src => "/sweet-justice.min.js" }