%link{:type => "text/css", :href => "/screen.css", :rel => "stylesheet" }

%h1 Garaje de Heroína

%p
  =thanks_for_buying @item

%p En un ratico te mando un email para que cuadremos la entrega, y de nuevo, gracias por patrocinar mi adicción a la heroína.

=link_to "Atrás", "/"

