body { font-size: 16px; font-family: Helvetica, Arial, sans-serif; margin-left: 2em;}

h1 { color: #FF3366; border-bottom: 1px dotted; font-size: 2.5em; width: 650px;}

p, form { font-family: "Gill Sans MT", Helvetica, Arial, sans-serif; width: 600px; }

table {  text-align: left; border-collapse: collapse; }
td,th { padding: 1em 2em 1em 0.7em;}
td { font-family: "Georgia", "Times New Roman", Times, serif; margin: 0; vertical-align: center;}
tr:nth-child(even) { background-color: #F3F3F3; }
td.centered { text-align: center; }

a, a:visited { color: #FF3366; border-bottom: 1px dotted; text-decoration: none; padding: 0 3px;}
a:hover { color: white; background-color: #FF3366; border-bottom: 1px dotted; text-decoration: none;}

label { width: 65px; float: left;}

input[type=text] { width: 200px; }

#warning { display: none; }
#warning p { color: red; }